<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="Monepage" class="canHaveFixedElements"><head>
  <title>Monepage</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css">
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/pages.js?body=1" type="text/javascript"></script>
<script src="/assets/application.js?body=1" type="text/javascript"></script>
</head>
<body class="_3q-3 webkit chrome mac Locale_en_US">

    <link rel="stylesheet" href="../assets/custom.css">
    



<div class="_li">
	<div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
		<div id="blueBarHolder" class="slim">
			<div id="blueBar" class="fixed_elem">
				<div id="pageHead" class="clearfix" role="banner">
					<h1 id="pageLogo"><a href="#">Monepage</a></h1>
					<span style="float:right; margin-top:5px;"><h2>Sign In</h2></span>
					
				</div>
				
				
			</div>
		</div>
	</div>
	<div id="globalContainer" class="uiContextualLayerParent">
		<div id="content" class="fb_content clearfix">
			<div id="u_0_1j">
				<div>
					<div class="_3q-5">
						<div class="pvl _3q-2 _3q-6 _6x" id="u_0_0">
							<h1 class="_48xo _3ma _7g _6v _6_ _7a">
							<div class="_4h _10e" id="u_0_k" style="font-size: 69px;">
								Monetize your Fan Page&nbsp&nbsp&nbsp</div>
							</h1>
							<img src="../assets/splash.png" style="margin-top:-184px;">
						</div>
						<div class="_3q-8">
							<div class="_3q-2">
								<div class="_2xv" style="width:980px; height:170px; margin-top:376px; " id="u_0_5">
									<ul class="_2xq" style="width:980px; ">
										<li class="_2xr _2xn" style="visibility: visible; opacity: 1;">
										<div class="_3q-b" id="u_0_l">
											<div>
												<h3 class="mts mbm _3q-i _3ma _6p _6s _6v _6_ _7b _59g" id="u_0_6"><span>Are you earning cash from your fan page yet?</span></h3>
											</div>
											<div class="_3q-f _3m9 _6o _6t _mf _6_ _7b _59g" id="u_0_7" style="width: 582px;">
												<span>The experts have been earning millions of dollars per year from fan page traffic.  The secret is out, and now you can, too!</span>
											</div>
										</div>
										</li>
									</ul>
								</div>
								
							</div>
							
						</div>
					</div>
					<div class="_3q-2">
						<div class="mvl pvl _6x ">
							<h2 class="_48xp inlineBlock _3m9 _6o _6t _mf _59g" id="u_0_d" style="width: 612px;"><span>We're in private beta. Find out more about how to monetize your page securely!</br></br> <span class="getData"><input type="text" placeholder="Name"> </input><input type="text" placeholder="Email"> </input><input type="text"placeholder="Fan Page URL"> </input></span><a class="mbl _6j _6wl _6wk _3q-4 _3ma _6o _6v " style="display:inline; padding:10px;" id="signup">Go!</a></span></h2>
						</div>
						<div class="pvl">
							<img class="mtl _48xr img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/GjlpgeEXF6S.png" alt="" width="1129" height="1">
						</div>
						<div class="mvl pvl">
							<div class="_3q-t _6_ _75">
								<h3 class="mtl pbs _3q-i _3ma _6p _6s _6v _59g" id="u_0_g"><span>Who's Using Monepage?</span></h3>
								<div class="mbl _3q-f _3m9 _6o _6t _mf _59g" id="u_0_h" style="width: 400px;">
									<span>We are currently in private beta and seeing very positive results from some of the <a href="http://pagedata.appdata.com/" target="_blank">top Facebook Fan Pages</a>. With Monepage you can safely turn Fan Page "likes" into cash.</span>
								</div>
							</div>
							<img class="_3q-t img" src="../assets/samples.png" alt="" width="453" height="322"><img class="_48xr img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/GjlpgeEXF6S.png" alt="" width="1129" height="1">
						</div>
						<div class="mvl pvl">
							<div class="pvl _6x ">
								<div class="inlineBlock">
									<span>
									<div id="fb-root">
									</div>
									<fb:like href="https://www.facebook.com/monepageapp" send="true" show_faces="false" layout="button_count" fb-xfbml-state="rendered" class="fb_edge_widget_with_comment fb_iframe_widget"><span style="height: 20px; width: 138px;">
									<iframe id="f1c20ce39c" name="fea363ca8" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 138px;" title="Like this content on Facebook." class="fb_ltr" src="https://www.facebook.com/plugins/like.php?api_key=114545895322903&amp;locale=en_US&amp;sdk=joey&amp;channel_url=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D18%23cb%3Df1da7d8928%26origin%3Dhttps%253A%252F%252Fwww.facebook.com%252Ffdc7926c4%26domain%3Dwww.facebook.com%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.facebook.com%2Fmonepageapp&amp;node_type=link&amp;width=150&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=true&amp;extended_social_context=false">
									</iframe>
									</span></fb:like></span>
								</div>
							</div>
							<div class="pvl _6x ">
								<h3 class="_3q-i _3ma _6p _6s _6v _6_ _79 _59g" id="u_0_i"><span>Try Monepage Beta</span></h3>
								<div class="ptm _3q-f _3m9 _6o _6t _mf _6_ _79 _59g" id="u_0_j" style="width: 802px;">
									<span>Monepage is available now in a very limited beta program for English (US) audiences. Sign up now to find out when you can start using Monepage.</span>
								</div>
							</div>
							<div class="_6x ">
								<span class="getData"><input type="text" placeholder="Name"> </input><input type="text" placeholder="Email"> </input><input type="text"placeholder="Fan Page URL"> </input></span><a class="mbl _6j _6wl _6wk _3q-4 _3ma _6o _6v " style="display:inline; padding:10px;" id="signup">Go!</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="pageFooter" data-referrer="page_footer">
			<div id="contentCurve">
			</div>
			<div role="contentinfo" aria-label="Facebook site links">
				<table class="uiGrid navigationGrid" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td class="hLeft">
						<a href="http://www.facebook.com/monepageapp" target="_blank">Like us on Facebook!</a>
					</td>
					<td class="hLeft plm">
						<a href="#" title="Advertise on Facebook.">Follow us on Twitter!</a>
					</td>
					
					
					
					
					
					
					
				</tr>
				</tbody>
				</table>
			</div>
			<div class="mvl">
				<div class="fsm fwn fcg">
					<span> Monepage © 2013</span>
				</div>
			</div>
		</div>
	</div>
</div>






</body></html>